{% load static %}
<!DOCTYPE html>
<html>
<title>E-Corp Loans</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.myLink {display: none}
</style>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
  <a href="#" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i class="fa fa-map-marker w3-margin-right"></i>E-Corp</b></a>
  <a href="#" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><i class="fa fa-search"></i></a>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
  <img class="w3-image" src="{% static 'main/ecorp_background.jpg' %}" alt="London" width="1500" height="700">
  <div class="w3-display-middle" style="width:65%">
    <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Flight');"><i class="fa fa-plane w3-margin-right"></i>Personal Loan</button>
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Hotel');"><i class="fa fa-bed w3-margin-right"></i>Home Loan</button>
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Car');"><i class="fa fa-car w3-margin-right"></i>Car Loan</button>
    </div>

    <!-- Tabs -->
    <div id="Flight" class="w3-container w3-white w3-padding-16 myLink">
      <h3>Personal Loans For All Occasisons</h3>
      <p><span class="w3-tag w3-deep-orange">Instant Money!</span> Just apply - then tick the box that says you read all 102 pages of our T&C  - Get payed</p>
      <p><button class="w3-button w3-dark-grey">Learn More</button></p>
    </div>

    <div id="Hotel" class="w3-container w3-white w3-padding-16 myLink">
      <h3>Fast Home Loans</h3>
      <p>Get you home loan approved fast</p>
      <p>Please Note: your monthly household salary must be atleast %55 of the monthly loan repayments to be accepted</p>
      <p><button class="w3-button w3-dark-grey">Search Hotels</button></p>
    </div>

    <div id="Car" class="w3-container w3-white w3-padding-16 myLink">
      <h3>Best car loans in the world!</h3>
      <p><span class="w3-tag w3-deep-orange">Apply Now !</span> Special offer if you apply today: get 4% off loan repayments if over 105 years old ! </p>
      <p><button class="w3-button w3-dark-grey">Learn More</button></p>
    </div>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px;">

  <!-- Contact -->
  <div class="w3-container">
    <h2>Apply Now</h2>
    <form method = "POST" action="AddDatabaseEntry/">
      {% csrf_token %}
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Full Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email address" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Loan Type" required name="L_Type"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Age" required name="Age"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Loan Amount" required name="L_Amount"></p>

      <p><button class="w3-button w3-black w3-padding-large" type="submit">Submit Application</button></p>
    </form>
  </div>


  <!-- Explore Nature -->
  <div class="w3-container">
    <h3>About E-Corp</h3>
    <p>We Are The Biggest Corporation Ever.</p>
  </div>
  <div class="w3-row-padding">
    <div class="w3-half w3-margin-bottom">
      <img src="{% static 'main/ecorp_ceo.jfif' %}" alt="Norway" style="width:100%">
      <div class="w3-container w3-white">
        <h3>E-Corp CEO Announces Low Interest Rates</h3>
        <p class="w3-opacity">Credit Cards Starting at %15.5 pa</p>
        <p>if you find a better deal we'll beat it by %0.0001</p>
        <button class="w3-button w3-margin-bottom">Order Now</button>
      </div>
    </div>
    <div class="w3-half w3-margin-bottom">
      <img src="{% static 'main/ecorp_staff.jpeg' %}" alt="Austria" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Our Team</h3>
        <p class="w3-opacity">Meet E-Corps Executive Team</p>
        <p>Best in the business - making sure you ge the best deal.</p>
        <button class="w3-button w3-margin-bottom">Learn More</button>
      </div>
    </div>
  </div>

  

  <!-- Newsletter -->
  <div class="w3-container">
    <div class="w3-panel w3-padding-16 w3-black w3-opacity w3-card w3-hover-opacity-off">
      <h2>Financial Newsletter!</h2>
      <p>Join our newsletter.</p>
      <label>E-mail</label>
      <input class="w3-input w3-border" type="text" placeholder="Your Email address">
      <button type="button" class="w3-button w3-red w3-margin-top">Subscribe</button>
    </div>
  </div>

<!-- End page content -->
</div>


<script>
// Tabs
function openLink(evt, linkName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("myLink");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(linkName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}

// Click on the first tablink on load
document.getElementsByClassName("tablink")[0].click();
</script>

</body>
</html>